<div class="row">
  <div class="col-md-6">
    <p>All workshop sessions will begin 9:00 am and end at 12:30 pm (US Central Time)</p>
    <table class="table table-striped">
      <tr> <td><b>Before</b></td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td><b>January 17</b></td>  <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></td> </tr>
      <tr> <td><b>January 18</b></td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td> </tr>
      <tr> <td><b>January 19</b></td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python, Part 1</a></td> </tr>
      <tr> <td><b>January 20</b></td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming with Python, Part 2</a></td> </tr>
      <tr> <td><b>END</b></td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
